header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header__top {
  padding: 20px 0;
  background-color: $bg-color;

  @include tablet() {
    padding: 15px 0;
  }

  @include mobile() {
    padding:  10px 0 0;
  }
}

.header__top-list {
  display: flex;
  justify-content: space-around;

  li,
  a,
  span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;

    &:hover {
      color: $bg-header-bottom;
    }
    @include media(0, 1024px) {
      font-size: 14px;
    }
  }
}

.social__icons {
  display: flex;
  gap: 24px;

  img {
    width: 24px;
    height: 22px;
  }
}

.media__disable {
  @include media(0, 1024px) {
    display: none;
  }
}

.header__bottom {
  padding: 30px 0;
  background-color: $bg-header-bottom;
  @include tablet() {
    padding: 10px 0;
  }

  @include mobile() {
    padding: 0;
    height: 0;
  }

}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__list-item a {
  color: #000;
  font-size: 30px;
  font-weight: 600;

  &:hover {
    color: $hover;
  }

  @include media(0, 1024px) {
    font-size: 24px;
  }
}

.media__logo {
  display: none;

  @include tablet() {
    display: block;
  }

  @include mobile() {
    display: none;
  }
}

.logo {
  @include tablet() {
    display: none;
  }

  @include mobile() {
    display: none;
  }
}

@include mobile() {
  header {
    position: relative;
  }

  .header__top {
    background-color: $bg-header-bottom;
  }

  .header__top-list {
    position: absolute;
    width: 100vw;
    height: 70vh;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: $bg-color;
    transform: translateY(-100%);
    transition: all 0.7s ease;

    li,
    a,
    span {
      font-size: 20px;
    } 
  }

  #dots__menu:checked + .header__top-list {
    transform: translateY(0);
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  #dots__menu {
    visibility: hidden;
  }

  .header__list {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-header-bottom;
    transform: translateX(-100%);
    transition: all 0.7s ease;
  }

  #menuOpener:checked + .header__list {
    transform: translateX(0);
  }
  
  #menuOpener {
    visibility: hidden;
  }

  .menuOpener {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 9999;
  }


}

#menuOpener,
.menuOpener {
  display: none;

  @include mobile() {
    display: block;
    z-index: 9999;
  }
}

.dots__menu,
#dots__menu {
  display: none;

  @include mobile() {
    display: block;
    z-index: 9999;
  }
}

.mobile__logo {
  display: none;

  @include mobile() {
    display: block;
    z-index: 9999;
    height: 58px;
    width: 65px;
  }
}

